node_modules
npm-debug.log
yarn-error.log
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn.lock
storage/*.key
*.log
.idea
.DS_Store
Thumbs.db
*.log
